﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1746px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:-42px;
  width:1920px;
  height:1080px;
}
#u2606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:85px;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:534px;
  top:40px;
  width:679px;
  height:75px;
  font-family:'Lucida Handwriting Italic Bold', 'Lucida Handwriting';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  color:#000000;
  text-align:center;
}
#u2607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  word-wrap:break-word;
}
#u2608 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:341px;
  width:639px;
  height:78px;
}
#u2608_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2608_input:disabled {
  color:grayText;
}
#u2609 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:510px;
  width:639px;
  height:78px;
}
#u2609_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2609_input:disabled {
  color:grayText;
}
#u2610 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:677px;
  width:639px;
  height:78px;
}
#u2610_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2610_input:disabled {
  color:grayText;
}
#u2611_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2611 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:316px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
#u2612_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2612 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:652px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
#u2613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2613 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:485px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
