﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1673px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1080px;
}
#u2627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1080px;
}
#u2627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1080px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2628 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1673px;
  height:1080px;
}
#u2628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2629_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:167px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u2629 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:144px;
  width:671px;
  height:167px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u2629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:54px;
  width:667px;
  word-wrap:break-word;
}
#u2630 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:558px;
  width:639px;
  height:78px;
}
#u2630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2630_input:disabled {
  color:grayText;
}
