﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1930px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2616 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:1920px;
  height:1080px;
}
#u2616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2617 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:1920px;
  height:1080px;
}
#u2617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:689px;
  height:85px;
}
#u2619 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:67px;
  width:679px;
  height:75px;
  font-family:'Lucida Handwriting Italic Bold', 'Lucida Handwriting';
  font-weight:700;
  font-style:italic;
  font-size:48px;
  color:#000000;
  text-align:center;
}
#u2619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  word-wrap:break-word;
}
#u2620 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:341px;
  width:639px;
  height:78px;
}
#u2620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2620_input:disabled {
  color:grayText;
}
#u2621 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:510px;
  width:639px;
  height:78px;
}
#u2621_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2621_input:disabled {
  color:grayText;
}
#u2622 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:677px;
  width:639px;
  height:78px;
}
#u2622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:78px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u2622_input:disabled {
  color:grayText;
}
#u2623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2623 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:316px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
#u2624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2624 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:652px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
#u2625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u2625 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:485px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u2625_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:23px;
  width:675px;
  word-wrap:break-word;
}
