﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1886px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2674 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2675 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u2675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:260px;
}
#u2677 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:224px;
  width:637px;
  height:260px;
}
#u2677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:60px;
  text-align:center;
}
#u2678 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:224px;
  width:572px;
  height:260px;
  font-size:60px;
  text-align:center;
}
#u2678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:572px;
  word-wrap:break-word;
}
#u2679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:636px;
  height:260px;
}
#u2680 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:224px;
  width:636px;
  height:260px;
}
#u2680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:55px;
  text-align:center;
}
#u2681 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:224px;
  width:572px;
  height:260px;
  font-size:55px;
  text-align:center;
}
#u2681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:572px;
  word-wrap:break-word;
}
#u2682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:259px;
}
#u2683 {
  border-width:0px;
  position:absolute;
  left:937px;
  top:226px;
  width:635px;
  height:259px;
}
#u2683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:572px;
  height:258px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:45px;
  text-align:center;
}
#u2684 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:226px;
  width:572px;
  height:258px;
  font-size:45px;
  text-align:center;
}
#u2684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:27px;
  width:572px;
  word-wrap:break-word;
}
#u2685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:496px;
  height:594px;
}
#u2685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:496px;
  height:594px;
}
#u2685_img.mouseOver {
}
#u2685.mouseOver {
}
#u2685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
