﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:10px;
  width:375px;
  height:812px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:10px;
  width:375px;
  height:812px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:74px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:325px;
  width:180px;
  height:74px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:15px;
  text-align:center;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:325px;
  width:162px;
  height:74px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:15px;
  text-align:center;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:16px;
  width:162px;
  word-wrap:break-word;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:74px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:325px;
  width:180px;
  height:74px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-align:center;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:325px;
  width:162px;
  height:74px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:13px;
  text-align:center;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:74px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:327px;
  width:180px;
  height:74px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:11px;
  text-align:center;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:329px;
  width:162px;
  height:73px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:11px;
  text-align:center;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:162px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:182px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:153px;
  height:182px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:819px;
  width:296px;
  height:166px;
}
#u12_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:166px;
  overflow:auto;
}
