﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1903px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:1080px;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:1080px;
}
#u1051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1913px;
  height:1090px;
}
#u1052 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:1080px;
}
#u1052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:317px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1055_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:653px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:652px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:316px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:490px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1059_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:679px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:48px;
}
#u1059 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:474px;
  width:679px;
  height:103px;
  font-size:48px;
}
#u1059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:675px;
  word-wrap:break-word;
}
#u1060 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:329px;
  width:621px;
  height:80px;
}
#u1060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1061 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:501px;
  width:621px;
  height:80px;
}
#u1061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1062 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:328px;
  width:621px;
  height:80px;
}
#u1062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1063 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:665px;
  width:621px;
  height:80px;
}
#u1063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1064 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:486px;
  width:621px;
  height:80px;
}
#u1064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1065 {
  border-width:0px;
  position:absolute;
  left:1062px;
  top:664px;
  width:621px;
  height:80px;
}
#u1065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:80px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:72px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:125px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1066 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:101px;
  width:827px;
  height:125px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:823px;
  word-wrap:break-word;
}
#u1067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1067 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:657px;
  width:100px;
  height:95px;
}
#u1067_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:128px;
}
#u1068 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:98px;
  width:128px;
  height:128px;
}
#u1068_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1069 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:494px;
  width:100px;
  height:95px;
}
#u1069_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1070 {
  border-width:0px;
  position:absolute;
  left:1753px;
  top:322px;
  width:100px;
  height:95px;
}
#u1070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1071 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:657px;
  width:100px;
  height:95px;
}
#u1071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1072 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:493px;
  width:100px;
  height:95px;
}
#u1072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:95px;
}
#u1073 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:322px;
  width:100px;
  height:95px;
}
#u1073_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1075_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1436px;
  height:913px;
}
#u1075 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:69px;
  width:1436px;
  height:913px;
}
#u1075_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1446px;
  height:923px;
}
#u1076 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:69px;
  width:1436px;
  height:913px;
}
#u1076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:141px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1077 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:480px;
  width:576px;
  height:141px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1077_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:572px;
  word-wrap:break-word;
}
#u1078 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:690px;
  width:548px;
  height:66px;
}
#u1078_input {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:66px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
}
#u1078_input:disabled {
  color:grayText;
}
#u1079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:142px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1079 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:106px;
  width:576px;
  height:142px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
}
#u1079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:572px;
  word-wrap:break-word;
}
#u1080 {
  border-width:0px;
  position:absolute;
  left:686px;
  top:315px;
  width:548px;
  height:62px;
}
#u1080_input {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:62px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:48px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1081_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:106px;
}
#u1081 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:806px;
  width:109px;
  height:106px;
}
#u1081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
