﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u826_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:812px;
}
#u827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:210px;
  width:229px;
  height:36px;
  font-size:20px;
}
#u830_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:328px;
  width:229px;
  height:36px;
  font-size:20px;
}
#u831_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:265px;
  width:229px;
  height:36px;
  font-size:20px;
}
#u832_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:225px;
  word-wrap:break-word;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:214px;
  width:210px;
  height:28px;
}
#u833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:332px;
  width:210px;
  height:28px;
}
#u834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:269px;
  width:210px;
  height:28px;
}
#u835_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:523px;
  width:219px;
  height:36px;
  font-size:20px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:406px;
  width:219px;
  height:36px;
  font-size:20px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:466px;
  width:219px;
  height:36px;
  font-size:20px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:215px;
  word-wrap:break-word;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:470px;
  width:200px;
  height:28px;
}
#u840_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:410px;
  width:200px;
  height:28px;
}
#u841_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:527px;
  width:200px;
  height:28px;
}
#u842_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:125px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:54px;
  width:282px;
  height:125px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:278px;
  word-wrap:break-word;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:78px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:608px;
  width:79px;
  height:78px;
}
#u844_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:523px;
  width:41px;
  height:32px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:468px;
  width:41px;
  height:32px;
}
#u847_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:32px;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:410px;
  width:41px;
  height:32px;
}
#u848_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:327px;
  width:41px;
  height:33px;
}
#u851_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:269px;
  width:41px;
  height:33px;
}
#u852_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:33px;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:210px;
  width:41px;
  height:33px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:813px;
}
#u856_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:375px;
  height:812px;
}
#u857_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:94px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u858 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:238px;
  width:309px;
  height:94px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u858_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:305px;
  word-wrap:break-word;
}
#u859 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:360px;
  width:286px;
  height:36px;
}
#u859_input {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:36px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u859_input:disabled {
  color:grayText;
}
#u860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:90px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u860 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:78px;
  width:275px;
  height:90px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:28px;
}
#u860_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:271px;
  word-wrap:break-word;
}
#u861 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:193px;
  width:293px;
  height:35px;
}
#u861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:35px;
  font-family:'Lucida Handwriting Cursiva', 'Lucida Handwriting';
  font-weight:400;
  font-style:italic;
  font-size:20px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:66px;
}
#u862 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:560px;
  width:69px;
  height:66px;
}
#u862_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
